<div class="header">
  <a
    href="javascript:void(0)"
    [routerLink]="['/login']"
    style="margin-left: 10px; color: #fff"
    >login</a
  >

  <a
    href="javascript:void(0)"
    [routerLink]="['/signup']"
    style="margin-left: 10px; color: #fff"
    >Signup</a
  >
  <h1>
    {{ title }}

    <!-- routing with the help of a simpe routerLink -->
    <button [routerLink]="['/data']">Take me to data</button>
  </h1>
</div>
