<mat-card class="card">
  <h2
    style="
      text-align: center;
      background-color: crimson;
      padding: 10px;
      color: #fff;
    "
  >
    User sign up
  </h2>
  <form [formGroup]="signupForm">
    <mat-form-field class="full-width" >
      <mat-label>Email</mat-label>
      <input
        matInput
        placeholder="xxxx@xxx.xxx"
        formControlName="emailControl"
        [errorStateMatcher]="matcher"
      />
      <mat-error
        *ngIf="
          signupForm.controls.emailControl.hasError('email') &&
          !signupForm.controls.emailControl.hasError('required')
        "
      >
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="signupForm.controls.emailControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width" >
      <mat-label>Password</mat-label>
      <input
        matInput
        placeholder="password shoud string enough"
        formControlName="passwordControl"
        [errorStateMatcher]="matcher"
        type="password"
      />

      <mat-error
        *ngIf="signupForm.controls.passwordControl.hasError('required')"
      >
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <button mat-button class="btn" (click)="signup()">Submit</button>
  </form>
</mat-card>
