<p appHighlight>{{ subTitle }}</p>

<input [(ngModel)]="name" name="name_first" />

<p >{{ name }}</p>

<a href="javascript:void(0)" routerLink="/data"
  >Privacy and Terms and conditions of our applications
</a>

<!-- routing with the help of a function and attached Router injected in constructor -->
<button (click)="submitMyData()">Submit</button>
<p>{{ fullTitle }}</p>
<app-jumbtron
  [title]="jumboTitle"
  [subTitle]="jumboSubTitle"
  (mixedTitle)="getFullTitle($event)"
  *ngIf="showJumbotron"
>
</app-jumbtron>
<button class="btn" (click)="showAndHideJumbotron()">show jumbotron</button>
