<div>
  <h2 style="text-align: center">User login</h2>
  <div class="form-input-div">
    <label>email Id</label>
    <input [(ngModel)]="emailId" name="email" type="email" class="input" />
    <p class="error" *ngIf="isEmailError">{{ emailError }}</p>
  </div>
  <div class="form-input-div">
    <label>password</label>
    <input
      [(ngModel)]="password"
      name="password"
      type="password"
      class="input"
    />
    <p class="error" *ngIf="isPasswordError">{{ passwordError }}</p>
  </div>
  <div class="form-input-div">
    <button (click)="login()">Submit</button>
  </div>
</div>
