<button routerLink="/">Take me to home</button>

<!-- {{ users | json }} -->
<table>
  <tr>
    <td>Id</td>
    <td>User id</td>
    <td>Title</td>
    <td>Body</td>
  </tr>
  <tr *ngFor="let user of users">
    <td>{{ user.id | sqrt }}</td>
    <td>{{ user.userId | currency: "USD" }}</td>
    <td>{{ user.title }}</td>
    <td>{{ user.body }}</td>
  </tr>
</table>
