/* You can add global styles to this file, and also import other style files */
.btn {
  background-color: #fff;
  color: crimson;
  padding: 5px;
  border-radius: 10px;
  border-color: crimson;
  cursor: pointer;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
